<%- include("partials/header") -%>

<h1>Hey, Jitesh this side.</h1>
    <h3>Click here to mail at us: <a href=mailto:<singhjitesh469@gmail.com>singhjitesh469@gmail.com</a></h3>

    <h3>Github Account: <a href="https://github.com/itzjitesh" target="_blank">Github</a></h3> 

    <h3>Linkedin Account: <a href="https://www.linkedin.com/in/singhjitesh/" target="_blank">Linkedin</a></h3>

    <h3>Instagram QR code scanner: </h3>
        <img src="/image/itzjitesh_qr.png" alt="" width="250" height="250">


<%- include("partials/footer") -%>
    

