<%- include("partials/header") -%>

<h3>You request is our command, and it has been done gracefully.</h3>
<p>Hey, Well it has to be done someday,</p>
<h1>Okay, today is that Someday!</h1>


<%- include("partials/footer") -%>
    

